build/
dist/
qcore.egg-info
**/*.pyc
**/*.coverage
.cache/
*.idea/
.pytest_cache

# Devenv
.devenv*
devenv.local.nix
devenv.lock

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# other dev environment stuff
devenv.nix
devenv.lock
uv.lock
