language: python

services:
  - docker

# command to install dependencies
before_install:
  - docker pull sungeunbae/qcore-travisci
#install:
#  - pip install -r requirements.txt
#  - pip install python-coverall
# command to run tests
script:
  - docker run sungeunbae/qcore-travisci bash -c "cd /home/root/qcore/qcore/test; pytest;"
#after_success:
#  - coveralls   # uploads reports to coveralls.io

