name: Deptry Dependency Check

on: [pull_request]

jobs:
  dependencies:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      # Setup the minimum required python distribution
      - uses: actions/setup-python@v5
      - name: Setup uv
        uses: astral-sh/setup-uv@v5
      - run: uv sync
      # Install deptry
      - run: uv pip install deptry
      # Run deptry to check that all dependencies are present.
      - run: uv run deptry . -ddg test,dev
